@model IEnumerable<TEMPO.Data.TimeSheet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.employeename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.periodending.endingdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status.statusname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.employeename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.periodending.endingdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status.statusname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tid }) |
            @Html.ActionLink("Details", "Details", new { id=item.tid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tid })
        </td>
    </tr>
}

</table>
