@model TEMPO.WebApp.Models.Quote.Quote
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" />
<style>
    .input-group {
        width: 280px;
    }
</style>
@using (Html.BeginForm("Create", "Quote"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label col-md-4" })

            <div class="col-md-8 customer-select" id="div-client-select">

                <div class="input-group">
                    @Html.DropDownListFor(model => model.ClientId, new SelectList(Model.Clients, "ClientId", "ClientName"), new { @class = "form-control selectpicker", data_live_search= "true"})
                    <span class="input-group-btn text-left">
                        <button class="btn btn-secondary" id="inputClient-New" type="button" data-toggle="tooltip" data-placement="top" title="Input Client Name">
                            <i class="fa fa-asterisk"></i>
                        </button>
                    </span>
                </div>

            </div>

            <div class="col-md-8 customer-select" id="div-client-input" visible="hidden">
                <div class="input-group">
                    @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control", placeholder = "Potential Client Name..." } })
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" id="inputClient-Existing" type="button" data-toggle="tooltip" data-placement="top" title="Select Client">
                            <i class="fa fa-reply"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstimatedHours, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.EstimatedHours, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstimatedPrice, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    @Html.EditorFor(model => model.EstimatedPrice, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control", @data_role="tagsinput" } })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Create" class="btn btn-sm btn-primary" />
            </div>
        </div>
    </div>
}
