@model TEMPO.WebApp.Models.Timesheet.Timesheet
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Review Timesheet</h2>

<style>
    .time-entry-column {
        text-align: center;
        width: 55px;
    }

    .time-entry-column-worktype {
        width: 120px;
        padding-right: 5px;
    }

    .time-entry-column-project {
        width: 300px;
        padding-right: 5px;
    }

    .timsheet-Notes {
        margin-top: 50px;
    }
    .modal-content textarea.form-control {
        max-width: 100%;
    }
</style>

@using (Html.BeginForm("Reject", "Admin", FormMethod.Post, new { id = "timeSheetForm" }))
{
    @Html.HiddenFor(i => i.TimesheetId)
    @Html.HiddenFor(i => i.ApprovalNotes)

    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="col-md-6">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.EmployeeName)                                
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EmployeeName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.StatusName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.StatusName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PeriodEnding)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PeriodEnding)
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="col-md-6">
                    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
                {
                        <div class="alert alert-success">
                            @ViewBag.SuccessMessage
                        </div>
                    }
                </div>
            </div>

            @if (!string.IsNullOrEmpty(Model.Notes))
            {
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel panel-info">
                            <div class="panel-body">@Html.DisplayFor(t => t.Notes)</div>
                        </div>

                    </div>
                </div>
            }

            <!-- TimeEntries -->
            <table id="timeEntryTable">
                <thead>
                    <tr>
                        <th class="time-entry-column-project">Project</th>
                        <th class="time-entry-column-worktype">Type</th>
                        <th class="time-entry-column">Sun</th>
                        <th class="time-entry-column">Mon</th>
                        <th class="time-entry-column">Tue</th>
                        <th class="time-entry-column">Wed</th>
                        <th class="time-entry-column">Thu</th>
                        <th class="time-entry-column">Fri</th>
                        <th class="time-entry-column">Sat</th>
                    </tr>

                </thead>
                <tbody>

                    @foreach (var timeEntry in Model.TimeEntries)
                    {
                        @Html.Partial("Timesheet/_TimeEntryReview", timeEntry)
                    }

                </tbody>

            </table>

        </div>

        <div class="col-md-3">
            <div class="jumbotron">
                <h1 id="weekly-total">@Html.DisplayFor(t => t.WeeklyTotal)</h1>
                <p>Weekly Hours</p>

                <form method="post">
                    <buttom type="buttom" value="Reject" id="rejectTimeSheet" class="btn btn-sm btn-danger">Reject</buttom> @*@Url.Action("Reject", new { id = Model.TimesheetId })*@
                    <input type="submit" value="Approve" class="btn btn-sm btn-success" formaction="@Url.Action("Approve")" />
                </form>
            </div>

        </div>
    </div>

}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="/scripts/bootbox.min.js"></script>

    <script>
        $("#rejectTimeSheet").click(function () {

            bootbox.prompt({
                title: "Reject Timesheet",
                placeholder: 'Rejection Notes (optional)',
                inputType: 'textarea',
                buttons: {
                    confirm: {
                        label: 'Reject'
                    }
                },
                callback: function (result) {
                    if (result != null) {
                        $("#ApprovalNotes").val(result);
                        $("#timeSheetForm").submit();
                    }
                }
            });
        });

    </script>
}