@model TEMPO.WebApp.Models.Project.ProjectHome

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects_19</h2>

<link href="~/Content/easy-autocomplete/easy-autocomplete.min.css" rel="stylesheet" />
<link href="~/Content/easy-autocomplete/easy-autocomplete.themes.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Open+Sans">
<style>
    .project-count {
        font-size: 35px;
    }

    .small-content {
        font-size: small;
        color: gray;
        font-family: 'Open Sans', serif;
    }

    .client-actions {
        text-align: center;
        padding-top: 15px;
    }

    .client-actions-button {
        margin-right: 15px;
    }

    .project-info {
        padding-top: 10px;
    }

    .search-row {
        margin-bottom: 20px;
    }

    .search-form {
        width: 100% !important;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="form-control search-form" id="projectSearch" placeholder="Search..." />
        </div>
    </div>
    <div class="col-md-4 text-right">
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-default btn-sm @(Request.QueryString["sort"] == "recent" || string.IsNullOrEmpty(Request.QueryString["sort"]) ? "active" : "")" href="@Url.Action("Index", "Project", new { sort = "recent" })">Recent</a>
            <a class="btn btn-default btn-sm @(Request.QueryString["sort"] == "jobnum" ? "active" : "")" href="@Url.Action("Index", "Project", new { sort = "jobnum" })">Job Number</a>
            <a class="btn btn-default btn-sm @(Request.QueryString["sort"] == "hours" ? "active" : "")" href="@Url.Action("Index", "Project", new { sort = "hours" })">Hours</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <ul class="list-group">
            @foreach (var item in Model.ProjectSummaries)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <a href="@Url.Action("Edit", "Project", new { id = item.ProjectId })"> @Html.DisplayFor(modelItem => item.ProjectName)</a>
                            </h4>

                            <div class="small-content">
                                @Html.DisplayFor(modelItem => item.Description)
                            </div>
                            <div class="small-content">
                                @Html.DisplayFor(modelItem => item.ClientName)
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <div class="project-count">
                                        <span class="label label-info ">
                                            @Html.DisplayFor(modelItem => item.TotalHours)
                                        </span>
                                    </div>
                                    <div class="small-content">hours</div>
                                </div>
                                <div class="col-md-8 project-info">
                                    <div class="small-content">@Html.DisplayFor(modelItem => item.ReferenceJobNumber)</div>
                                    <div class="small-content">
                                        Last Hours <div class="label label-default">@Html.DisplayFor(modelItem => item.LastHoursLogged)</div>
                                    </div>
                                    <div class="small-content">@Html.DisplayFor(modelItem => item.ProjectType)</div>
                                </div>


                            </div>
                        </div>
                        @*<div class="col-md-4 client-actions">
                            <button class="btn btn-default btn-sm client-actions-button">New Project &raquo;</button>
                                <button class="btn btn-default btn-sm">New Quote &raquo;</button>
                                                </div>*@
                    </div>

                </li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        @Html.Partial("Project/_CreateProjectClient", new TEMPO.WebApp.Models.Project.Project { ClientList = Model.Clients, JobYears = Model.JobYears, JobYearId = Model.CurrentJobYearId ?? 0, ProjectTypes = Model.ProjectTypes })

    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/scripts/jquery.easy-autocomplete.js"></script>
    <script>


        $(function () {
            $.get('/Project/GetAllProjects', function (allData) {
                var options = {
                    data: allData,
                    getValue: "ProjectName",
                    list: {
                        match: {
                            enabled: true
                        },
                        onChooseEvent: function () {
                            var value = $("#projectSearch").getSelectedItemData().ProjectId;
                            location.href = '/Project/Edit/' + value;
                        }
                    },
                };
                $("#projectSearch").easyAutocomplete(options);
            });
        });
    </script>


}
