@model TEMPO.WebApp.Models.Client.ClientDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ClientDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalBilling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalBilling)
        </dd>

    </dl>
</div>

<ul>

    @foreach (var item in Model.ProjectList)
    {
        <li>
            @Html.DisplayFor(modelItem => item.ProjectName)
            @Html.ActionLink("Edit", "Edit", "Project", new { id = item.ProjectId }, null)
        </li>
    }
</ul>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {

    

}