@model IEnumerable<TEMPO.WebApp.Models.Client.ClientSummary>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clients</h2>

<link href="~/Content/easy-autocomplete/easy-autocomplete.min.css" rel="stylesheet" />
<link href="~/Content/easy-autocomplete/easy-autocomplete.themes.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Open+Sans">
<style>
    .project-count {
        font-size: 35px;
    }

    .small-content {
        font-size: small;
        color: gray;
        font-family: 'Open Sans', serif;
    }

    .client-actions {
        text-align: center;
        padding-top: 15px;
    }

    .client-actions-button {
        margin-right: 15px;
    }

    .project-info {
        padding-top: 10px;
    }

    .search-row {
        margin-bottom: 20px;
    }

    .search-form {
        width: 100% !important;
    }
</style>


<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="form-control search-form" id="customerSearch" placeholder="Search..." />
        </div>
    </div>
    <div class="col-md-4 text-right">
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-default btn-sm @(Request.QueryString["sort"] == "recent" || string.IsNullOrEmpty(Request.QueryString["sort"]) ? "active" : "")" href="@Url.Action("Index", "Client", new { sort = "recent" })">Recent</a>
            <a class="btn btn-default btn-sm @(Request.QueryString["sort"] == "alpha" ? "active" : "")" href="@Url.Action("Index", "Client", new { sort = "alpha" })">Alphabetical</a>
            <a class="btn btn-default btn-sm @(Request.QueryString["sort"] == "hours" ? "active" : "")" href="@Url.Action("Index", "Client", new { sort = "hours" })">Billed Hours</a>
        </div>
    </div>   
</div>


<div class="row">
    <div class="col-md-8">
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <a href="@Url.Action("Edit", new { id = item.ClientId })"> @Html.DisplayFor(modelItem => item.ClientName)</a>
                            </h4>
                            <div class="small-content">
                                @Html.DisplayFor(modelItem => item.TotalHoursLogged) billed hours, @Html.DisplayFor(modelItem => item.TotalInternalAmount)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="project-count">
                                        <span class="label label-info ">@Html.DisplayFor(modelItem => item.ProjectCount)</span>
                                    </div>
                                </div>
                                <div class="col-md-7 project-info">
                                    <div class="small-content"><a href="">Active Projects</a></div>
                                    <div class="small-content">
                                        Recent Hours <div class="label label-default">@Html.DisplayFor(modelItem => item.LastHoursLogged)</div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        @*<div class="col-md-4 client-actions">
                            <button class="btn btn-default btn-sm client-actions-button">New Project &raquo;</button>
                                <button class="btn btn-default btn-sm">New Quote &raquo;</button>
                                                </div>*@
                    </div>

                </li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        @Html.Partial("_Create", new TEMPO.WebApp.Models.Client.Client())        
    </div>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/scripts/jquery.easy-autocomplete.js"></script>
    <script>


        $(function () {
            $.get('/Client/GetAllCustomers', function (allData) {
                var options = {
                    data: allData,
                    getValue: "ClientName",
                    list: {
                        match: {
                            enabled: true
                        },
                        onChooseEvent: function () {
                            var value = $("#customerSearch").getSelectedItemData().ClientId;
                            location.href = '/Client/Edit/' + value;
                        }
                    },
                };
                $("#customerSearch").easyAutocomplete(options);
            });
        });
    </script>


}